<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DavalaAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DavalaAdmin.Properties.Settings>
            <setting name="dbAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value />
            </setting>
            <setting name="dbID" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPW" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpID" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpPW" serializeAs="String">
                <value />
            </setting>
        </DavalaAdmin.Properties.Settings>
    </userSettings>
</configuration>